extends index.layout.030215.1.jade

block content

	//- ===================================
	//- 		VERSION 3
	//- ===================================

	// CONTROLS
	input#radio-front(type="radio", checked="", name="select-face")
	input#radio-back(type="radio", name="select-face")
	input#radio-left(type="radio", name="select-face")
	input#radio-right(type="radio", name="select-face")
	input#radio-top(type="radio", name="select-face")
	input#radio-bottom(type="radio", name="select-face")

	// separator
	.separator

	.scene
		.cube
			.cube-face.cube-face-front
			.cube-face.cube-face-back
			.cube-face.cube-face-left
			.cube-face.cube-face-right
			.cube-face.cube-face-top
			.cube-face.cube-face-bottom

	//- END VERSION 3

	