extends index.layout.030215.1.jade

block content

	+cubeFramework3

	aside.credits
		p You can contact me on 
			a(href="http://twitter.com/sunnylam") Twitter
			|  or 
			a(href="http://google.com/+SunnyLam7") Google Plus
			| .
		p Credit to the Inspiration Source Goes To 
			a(href="https://twitter.com/chinchang457") Kushagra Gour