body {
	text-align: center;
	padding: 50px;
	padding: 20px;
	color: $baseFontColor;
	font-family: $basefontfamily;
}

.separator {
	margin-top: 40px;
}

////////////////////////////////////////////
// 		CUBE
////////////////////////////////////////////

/*================================================
CUBE
=================================================*/
@import 'partials/_cube.scss';
/*================================================ */

////////////////////////////////////////////
// 		END CUBE
////////////////////////////////////////////



////////////////////////////////////////////
// 		CREDITS
////////////////////////////////////////////

aside.credits {
	margin-top: 10em;
}

////////////////////////////////////////////
// 		END CREDITS
////////////////////////////////////////////