////////////////////////////////////////////
///// 		VARIABLES, GLOBAL
///////////////////////////////////////////////

// These are variables I want access to throughout the project code

$cubeSize: 150px; // cube length

// toggle the cube dimensions here.
$cubeWidth: 250px;
$cubeHeight: 250px;
$cubeDepth: $cubeHeight;

///////////////////////////////////////////////